tools/CSBuild.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CSBuildConfig" nillable="true" type="CSBuildConfig" />
  <xs:complexType name="CSBuildConfig">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="target" type="BuildTarget" />
        <xs:element minOccurs="0" maxOccurs="1" name="options" type="BuildOptions" />
        <xs:element minOccurs="0" maxOccurs="1" name="projects" type="ProjectIncludes" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuildTarget">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="add" type="AddProjects" />
        <xs:element minOccurs="0" maxOccurs="1" name="log" type="LogFileOutput" />
        <xs:element minOccurs="0" maxOccurs="1" name="xml" type="XmlFileOutput" />
        <xs:element minOccurs="0" maxOccurs="1" name="define" type="BuildDefineConst" />
        <xs:element minOccurs="0" maxOccurs="1" name="save-project-changes" type="SaveProjectChanges" />
        <xs:element minOccurs="0" maxOccurs="1" name="intermediateFiles" type="BuildIntermediateFiles" />
        <xs:element minOccurs="0" maxOccurs="1" name="remove" type="RemoveProjects" />
        <xs:element minOccurs="0" maxOccurs="1" name="reference" type="ReferenceFolder" />
        <xs:element minOccurs="0" maxOccurs="1" name="framework" type="TargetFramework" />
        <xs:element minOccurs="0" maxOccurs="1" name="output" type="BuildOutput" />
        <xs:element minOccurs="0" maxOccurs="1" name="property" type="BuildProperty" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute default="v3.5" name="tools" type="FrameworkVersions" />
    <xs:attribute default="" name="group" type="xs:string" />
    <xs:attribute default="AnyCPU" name="platform" type="BuildPlatforms" />
    <xs:attribute default="Debug" name="configuration" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AddProjects">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dependsOn" type="DependsUpon" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseFileItem">
    <xs:attribute default="csbuild.exe" name="relative-to" type="OutputRelative" />
    <xs:attribute name="path" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="OutputRelative">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="absolute-path" />
      <xs:enumeration value="csbuild.exe" />
      <xs:enumeration value="working-folder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LogFilePath">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem">
        <xs:attribute default="true" name="enabled" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImportOptionsPath">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BuildOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferenceFolder">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem">
        <xs:attribute default="false" name="recursive" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoveProjects">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BuildIntermediateFiles">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseFileOutput" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem">
        <xs:attribute name="level" type="LoggerVerbosity" use="required" />
        <xs:attribute name="file" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LoggerVerbosity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Quiet" />
      <xs:enumeration value="Minimal" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Detailed" />
      <xs:enumeration value="Diagnostic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="XmlFileOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileOutput" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogFileOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileOutput" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DependsUpon">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseFileItem" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BuildDefineConst">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseBuildSettingOfString" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseBuildSettingOfString" abstract="true">
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BuildProperty">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseBuildSettingOfString">
        <xs:attribute default="false" name="global" type="xs:boolean" />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SaveProjectChanges">
    <xs:attribute name="enabled" type="xs:boolean" use="required" />
    <xs:attribute default="Warning" name="level" type="TraceLevel" />
  </xs:complexType>
  <xs:simpleType name="TraceLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Info" />
      <xs:enumeration value="Verbose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TargetFramework">
    <xs:attribute name="version" type="FrameworkVersions" use="required" />
  </xs:complexType>
  <xs:simpleType name="FrameworkVersions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="v2.0" />
      <xs:enumeration value="v3.0" />
      <xs:enumeration value="v3.5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BuildPlatforms">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AnyCPU" />
      <xs:enumeration value="x86" />
      <xs:enumeration value="Itanium" />
      <xs:enumeration value="x64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BuildOptions">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="strict-references" type="BuildStrictReferences" />
        <xs:element minOccurs="0" maxOccurs="1" name="force-file-references" type="ProjectReferencesToFile" />
        <xs:element minOccurs="0" maxOccurs="1" name="continue-on-error" type="BuildContinueOnError" />
        <xs:element minOccurs="0" maxOccurs="1" name="console" type="ConsoleOutputLevel" />
        <xs:element minOccurs="0" maxOccurs="1" name="save-project-changes" type="SaveProjectChanges" />
        <xs:element minOccurs="0" maxOccurs="1" name="import" type="ImportOptionsPath" />
        <xs:element minOccurs="0" maxOccurs="1" name="no-standard-references" type="NoStdReferences" />
        <xs:element minOccurs="0" maxOccurs="1" name="logfile" type="LogFilePath" />
        <xs:element minOccurs="0" maxOccurs="1" name="global-property" type="BuildProperty" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute default="4" name="timeout-hours" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="BuildStrictReferences">
    <xs:complexContent mixed="false">
      <xs:extension base="BooleanBuildOption" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BooleanBuildOption" abstract="true">
    <xs:attribute default="true" name="enabled" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="NoStdReferences">
    <xs:complexContent mixed="false">
      <xs:extension base="BooleanBuildOption" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BuildContinueOnError">
    <xs:complexContent mixed="false">
      <xs:extension base="BooleanBuildOption" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProjectReferencesToFile">
    <xs:complexContent mixed="false">
      <xs:extension base="BooleanBuildOption" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsoleOutputLevel">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseOutput">
        <xs:attribute default="true" name="enabled" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseOutput" abstract="true">
    <xs:attribute default="Normal" name="level" type="LoggerVerbosity" />
  </xs:complexType>
  <xs:complexType name="ProjectIncludes">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="remove" type="RemoveProjects" />
        <xs:element minOccurs="0" maxOccurs="1" name="reference" type="ReferenceFolder" />
        <xs:element minOccurs="0" maxOccurs="1" name="add" type="AddProjects" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>